:host {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  box-sizing: border-box;
}
.example-icon {
  padding: 0 12px;
}
.title{
  color: white;
  font-size: 10pt;
  padding: 0 12px;
}
a{
  position: absolute;
  top: 50%;
  float: right;
  right: 25px;
}
.example-spacer {
  flex: 1 1 auto;
}
section {
  width: 100%;
}
section > #left{
  width: 30%;
}
section > #right {
  width: 70%;
}
#left{
  position: relative;
  border-right: 1px solid gray;
  box-sizing: border-box;
}
#left, #right {
  float:left;
  box-sizing: border-box;
}
/deep/ .mat-dialog-container{
    text-align: center;
    overflow:hidden;
}
/deep/ .mat-dialog-actions{
    padding-left:40px!important;
}
/deep/ .mat-dialog-content{
  overflow: hidden!important;
}

/deep/ .mat-tab-list
{
    height: 40px;
}

/deep/ .mat-tab-label
{
    min-width:16.6%!important;
    height: 40px;
    color: white;
    padding-top:7px!important;
}
/deep/ .mat-tab-label-active{
    color:darkred;
}

/deep/ .mat-ink-bar{
    background-color: darkred;
}
#right-header{
  height: 40px;
  background-color: #5C6BC0;
}