<section>
  <header>
    <md-toolbar color="primary">
      <md-icon class="example-icon">menu</md-icon>
      <img md-card-avatar src="default-user-image.png" />
      <div class="title">
        <div>Steven Indra Adinata</div>
        <div>SE - JP</div>
      </div>

      <span class="example-spacer"></span>
      <md-icon class="example-icon">settings</md-icon>
      <md-icon class="example-icon">power_settings_new</md-icon>
    </md-toolbar>
  </header>

  <div id="left">
    <ea-employee-list></ea-employee-list>
    <a md-fab routerLink="/employees/add" (click)="add()"><i class="material-icons">add</i></a>
  </div>
  <div id="right">
    <header id="right-header">
      <md-tab-group>
        <md-tab>
          <ng-template md-tab-label>
            <md-icon class="tab-icon">person</md-icon>
          </ng-template>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            <md-icon class="tab-icon">restore</md-icon>
          </ng-template>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            <md-icon class="tab-icon">layers</md-icon>
          </ng-template>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            <md-icon class="tab-icon">wc</md-icon>
          </ng-template>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            <md-icon class="tab-icon">home</md-icon>
          </ng-template>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            <md-icon class="tab-icon">location_on</md-icon>
          </ng-template>
        </md-tab>
      </md-tab-group>
    </header>
    <router-outlet></router-outlet>
  </div>

</section>