<div *ngIf="!show" class="error">
  <div class="tablecell">
      Select Employee First
  </div>
</div>
<div *ngIf="show">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
    <section class="form-content">
      <div id="form-input">
        <md-grid-list cols="2" rowHeight="80px">
          <md-grid-tile class="container">
            <md-input-container class="example-full-width">
              <input mdInput name="firstName" id="firstName" placeholder="First Name" formControlName="firstName">
            </md-input-container>
            <div class="error-message" *ngIf="form.controls.firstName.errors?.required&&(form.controls.firstName.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-input-container class="example-full-width">
              <input mdInput name="subDivision" id="subDivision" placeholder="Sub Division" formControlName="subDivision">
            </md-input-container>
            <div class="error-message" *ngIf="form.controls.subDivision.errors?.required&&(form.controls.subDivision.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-input-container class="example-full-width">
              <input mdInput name="lastName" id="lastName" placeholder="Last Name" formControlName="lastName">
            </md-input-container>
            <div class="error-message" *ngIf="form.controls.lastName.errors?.required&&(form.controls.lastName.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-select placeholder="Status" name="status" id="status" formControlName="status" class="example-full-width">
              <md-option *ngFor="let status of lookupLists.status" [value]="status.value">
                {{status.viewValue}}
              </md-option>
            </md-select>
            <div class="error-message" *ngIf="form.controls.status.errors?.required&&(form.controls.status.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-select placeholder="Gender" name="gender" id="gender" formControlName="gender" class="example-full-width">
              <md-option *ngFor="let gender of lookupLists.genders" [value]="gender.value">
                {{gender.viewValue}}
              </md-option>
            </md-select>
            <div class="error-message" *ngIf="form.controls.gender.errors?.required&&(form.controls.gender.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-input-container class="example-full-width">
              <input mdInput type="date" name="suspendDate" id="suspendDate" placeholder="Suspend Date" formControlName="suspendDate">
            </md-input-container>
            <div class="error-message" *ngIf="form.controls.suspendDate.errors?.required&&(form.controls.suspendDate.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-input-container class="example-full-width">
              <input mdInput type="date" name="dob" id="dob" placeholder="Date Of Birth" formControlName="dob">
              <md-hint></md-hint>
            </md-input-container>
            <div class="error-message" *ngIf="form.controls.dob.errors?.required&&(form.controls.dob.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-input-container class="example-full-width">
              <input mdInput type="date" name="hiredDate" id="hiredDate" placeholder="Hired Date" formControlName="hiredDate">
            </md-input-container>
            <div class="error-message" *ngIf="form.controls.hiredDate.errors?.required&&(form.controls.hiredDate.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-input-container class="example-full-width">
              <input mdInput name="nationality" id="nationality" placeholder="Nationality" formControlName="nationality">
            </md-input-container>
            <div class="error-message" *ngIf="form.controls.nationality.errors?.required&&(form.controls.nationality.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-select placeholder="Grades" name="grade" id="grade" formControlName="grade" class="example-full-width">
              <md-option *ngFor="let grade of lookupLists.grades" [value]="grade.value">
                {{grade.viewValue}}
              </md-option>
            </md-select>
            <div class="error-message" *ngIf="form.controls.grade.errors?.required&&(form.controls.grade.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-select placeholder="Marital Status" name="maritalStatus" id="maritalStatus" formControlName="maritalStatus" class="example-full-width">
              <md-option *ngFor="let maritalStatus of lookupLists.maritalsStatus" [value]="maritalStatus.value">
                {{maritalStatus.viewValue}}
              </md-option>
            </md-select>
            <div class="error-message" *ngIf="form.controls.maritalStatus.errors?.required&&(form.controls.maritalStatus.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-select placeholder="Division" name="division" id="division" formControlName="division" class="example-full-width">
              <md-option *ngFor="let division of lookupLists.divisions" [value]="division.value">
                {{division.viewValue}}
              </md-option>
            </md-select>
            <div class="error-message" *ngIf="form.controls.division.errors?.required&&(form.controls.division.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-input-container class="example-full-width">
              <input mdInput name="phone" id="phone" placeholder="Phone" formControlName="phone">
            </md-input-container>
            <div class="error-message" *ngIf="form.controls.phone.errors?.required&&(form.controls.phone.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-input-container class="example-full-width">
              <input mdInput type="email" name="email" id="email" placeholder="Email" formControlName="email">
            </md-input-container>
            <div class="error-message" *ngIf="form.controls.email.errors?.required&&(form.controls.email.touched||submitted)">
              <p>This field is required</p>
            </div>
            <div class="error-message" *ngIf="form.controls.email.errors?.email&&(form.controls.email.touched||submitted) && !form.controls.email.errors?.required">
              <p>Invalid email</p>
            </div>
          </md-grid-tile>
          <md-grid-tile class="container">
            <md-select placeholder="Location" name="location" formControlName="location" class="example-full-width">
              <md-option *ngFor="let location of locations" [value]="location.locId">
                {{location.locationCity}}
              </md-option>
            </md-select>
            <div class="error-message" *ngIf="form.controls.location.errors?.required&&(form.controls.location.touched||submitted)">
              <p>This field is required</p>
            </div>
          </md-grid-tile>
        </md-grid-list>
      </div>
      <div id="imagePlace">
        <img md-card-avatar [src]="employeeImage | safeUrl" (click)="fileInput.click()" id="myImage" />
        <input #fileInput type="file" hidden="hidden" (change)="onChange($event)" />
      </div>

    </section>
    <section id="form-footer">
      <button type="submit" id="submit">SAVE</button>
      <button type="button" id="cancel" (click)="onCancel()">CANCEL</button>
    </section>
  </form>
</div>