.tablecell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.error{
  height: calc(100vh - 104px);
  width: 100%;
  display: table;
}
.form-content{
    height: calc(100vh - 144.5px);
    overflow: auto;
    padding: 10px 20px 0px 20px;
    box-sizing: border-box;
}
#form-input{
    width: 90%;
    float: left;
    padding-right: 5px;
    box-sizing: border-box;
}
.error-message{
    color:red;
    font-size: 10pt;
    width:100%;
    bottom:0;
    position:absolute;
    left:0;
}
md-select{
    margin-bottom: 2px;
}
#imagePlace{
    width:10%;
    float:left;
}
#myImage{
    width: 100%;
    height:auto;
}
#form-footer{
    height: 40px;
    background-color: #5C6BC0;
    padding: 5px;
    box-sizing: border-box;
}
#submit{
    color: white;
    background-color: deeppink;
}
#submit, #cancel{
    float: right;
    height:100%;
    border:none;
    font-size: 14px;
    width:80px;
    margin-right: 5px;
}
#submit:hover, #cancel:hover{
    cursor: pointer;
}
/deep/ .mat-input-placeholder-wrapper::after{
    content: '\00a0'!important;
}
.example-full-width{
    width: 100%;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
/deep/ .mat-figure{
    padding-right: 10px!important;
}