<section>
  <div id="search">
    <div id="search-left">
      <md-icon id="icon-search">search</md-icon>
      <div id="search-box">
        <input type="text" (keyup)="onChange($event)" placeholder="Search">
      </div>
    </div>
    <div id="search-right">
      <md-chip-list class = "menu">
        <md-chip>{{ employees == null? 0:employees.length }}</md-chip>
      </md-chip-list>
      <i class="material-icons menu" (click)="onFilter()">filter_list</i>
      <i class="material-icons menu" (click)="onSort()">sort</i>
      <i class="material-icons menu" (click)="onDelete()" *ngIf="edited">delete</i>
    </div>

  </div>

  <div *ngIf="!show" class="list">
    <ea-employee *ngFor="let eachEmployee of employees" [employee]="eachEmployee" (click)=onClick(eachEmployee) [selectedEmployee]="selectedEmployee"></ea-employee>
  </div>

  <div *ngIf="show">
    We couldn't find what you're looking for
  </div>
</section>